* { /* reset */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;


  
  /* fuente */
  color: rgb(0, 0, 0);
  font-family:"myriad-pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-family: "niveau-grotesk", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0%;
  margin: 0%;
} 

  /*--------------------------- Nav --------------------------------------------*/

  .header .nav-links li{
    display: inline-block;
    padding: 0 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;     
}
 
 
.nav-links a{
    
    color: #eceff1;
    
}
 
.nav-links li a:hover {
    color: #ffffff;
    text-decoration: underline;
    opacity: 40%;
}


/* Bar */
.header{
  background-color: #000000;
  font-family:"myriad-pro", sans-serif;
  font-style:normal;
  font-weight: normal;
  font-family: "niveau-grotesk", sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  height: auto;
  padding: 0%;
  margin: 0%;
  text-align: center;
  display: flex;
}

/* Color de fondo */
body {
  background-color: #efe4d7; /* Color de fondo */
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.TOP{
  color: gold; /* Color dorado */
    font-size: 14px;
  text-align: center;
  margin: 0%;
}

.BOUTIQUE{
  text-align: center;
  margin: 2%;
}

/*-----------------------------------------------------*/

img {
  width: 30%; /* Reducir el ancho al 50% del tamaño original */
  height: auto; /* Mantener la relación de aspecto original */
  padding: 0%;
  margin: 0%;
}

.contenedor {
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

.imagen {
  flex: 1; /* Ocupa una parte del contenedor */
  display: flex;
  padding: 0%; /* Añade espacio entre la imagen y la lista */
  margin: 0%;
  text-align: center;

}

.lista-objetos {
  flex: 1%; /* Ocupa la otra parte del contenedor */
}

ul {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0%; /* Elimina el relleno predeterminado de la lista */
  margin: 0%;
}

li {
  margin-bottom: 10px; /* Añade espacio entre los elementos de la lista */
}

.ON{
  text-align: center;
  margin: 3%;
}

.FEATURE{
  text-align: center;
  margin: 3%;
}
/*-------------------------- LISTA DE COMPRA ---------------------------------------------*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.column {
  text-align: center;
}

.article-list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.FONDOIMG{
  background-color: #232323;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/*---------------------------- Lista de marcas -------------------------------------------*/

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #000000; /* Color del enlace */
}

a:hover {
  text-decoration: underline; /* Estilo al pasar el ratón sobre el enlace */
}

/*---------------------------------- recuadros para los textos ------------------------------------------*/

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0%;
  margin: 0%;
  background-color: #f0f0f0;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

  /*------------------------------4 imagenes pegadas con vinculos-----------------------------------------*/

  .container {
    width: 100%;
    padding: 0%;
  }
  
  .cuadrado {
    background-color: white;
    padding: 0%;
    text-align: center;
  }
  
  .subtitle {
    color: gold; /* Color dorado */
    font-size: 14px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .column {
    width: 20%;
    padding: 0%;
  }
  
  img {
    width: 100%;
  }
  
  /* Estilos adicionales para personalizar la apariencia del contenido y la página */


  /*------------------------------4 imagenes pegadas con vinculos-----------------------------------------*/

  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    text-align: center;
  }
  
  img {
    width: 100%;
  }
  
  .MONTAÑA{
    width: 100%;
    padding: 0%;
    margin: 0%;
    flex: 1; /* Ocupa una parte del contenedor */
    display: flex;
    padding: 0%; /* Añade espacio entre la imagen y la lista */
    margin: 0%;
    text-align: center;
  }

  /* Estilos adicionales para personalizar la apariencia de las columnas, imágenes y enlaces */

   /*------------------------------ Parrafo y Frases -----------------------------------------*/

   .container {
    display: flex;
    justify-content: space-between;
  }
  
  .cuadrado {
    background-color: white;
    color: black;
    padding: 0%;
    width: 80%; /* Ancho del cuadrado */
    height: 50%;
    text-align: center;
  }
  
  .frases {
    background-color: white;
    padding: 0%;
    text-align: center;
    width: 80%; /* Ancho del cuadrado */
    height: 50%;
    color: black;

}
  
  /* Estilos adicionales para personalizar la apariencia del cuadrado y la lista de frases */
  
/*--------------------------- BANNER --------------------------------------------*/     
body {
  margin: 0%;
  padding: 0;
}

.banner {
  background-image: url('BANNER10.jpg'); /* Reemplaza 'tu-imagen.jpg' con la URL de tu imagen de fondo */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.title1{
  color: #eceff1;
  justify-content: center;
  font-size: 36px;
  margin: 0;
}


